{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Perfil de Usuario</h2>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Información del Perfil</h5>
            <form id="profileForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" value="{{ form.instance.user.username }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" value="{{ form.instance.user.email }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" value="{{ form.instance.telefono }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen de Perfil</label>
                    <input type="file" id="imagen" name="imagen" class="form-control-file" onchange="previewImage(event)">
                    <!-- Imagen actual -->
                    {% if form.instance.imagen %}
                        <img src="{{ form.instance.imagen.url }}" id="currentImage" class="img-thumbnail mt-2 rounded-circle" style="width: 150px;">
                    {% endif %}
                    <!-- Previsualización de la nueva imagen -->
                    <img id="previewImage" class="img-thumbnail mt-2 rounded-circle" style="width: 150px; display: none;">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Actualizar Perfil</button>
            </form>
        </div>
    </div>
</div>

<script>
function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function(){
        var output = document.getElementById('previewImage');
        output.src = reader.result;
        output.style.display = 'block';  // Mostrar la nueva imagen cargada
        var currentImage = document.getElementById('currentImage');
        if(currentImage) {
            currentImage.style.display = 'none';  // Ocultar la imagen anterior
        }
    };
    reader.readAsDataURL(event.target.files[0]);
}
</script>
{% endblock %}
